*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 100vh;
    background-image: url('./chris-chow-BhwRQr08PcM-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}
#about{
 background :linear-gradient(red green);
}
.red:hover{
    background-color: red;
    color: white;
}
.pink:hover{
    background-color:pink;
    color: black;
}
.black:hover{
    background-color:#131313;
    color: white;
}
.blue:hover{
    background-color:blue;
    color: white;
}

footer{
    background-color: #131313;
    color: white;
}